<!DOCTYPE html>
<html>
<head>
  <title>Instancetype</title>
  {{{ _sections.head }}}
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ static '/styles/main.css' }}">
  {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css">
  {{/if}}
</head>


<body>
  <header><img src="{{ static '/img/logo_horizontal_black.png' }}" alt="Instancetype Logo"></header>

  {{# if flash }}
      <div class="alert alert-dismissable alert-{{ flash.type }}">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>{{ flash.intro }}</strong> {{{ flash.message }}}
      </div>
  {{/if}}

  {{{ body }}}

  <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  {{{ _sections.jquery }}}

  {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd')
        var assert = chai.assert
      </script>
      <script src="/qa/tests-global.js"></script>
      {{#if pageTestScript}}
          <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run()</script>
  {{/if}}
</body>
</html>