{{#section 'head' }}
    <meta name="robots" content="noindex">
{{/section }}

<h1>Test Page</h1>
<p>Just testing some jQuery stuff here.</p>

{{#section 'jquery' }}
    <script>
        $('document').ready(function() {
            $('h1').html('Looks like jQuery works.')
        })
    </script>
{{/section}}
