<div class="formContainer">
    <form class="form-horizontal newsletterForm" role="form"
          action="/notify-me-when-in-season" method="POST">

        <input type="hidden" name="sku" value="{{ sku }}">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required id="fieldName" name="email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>