{{# section 'head' }}
    <script src="/bower_components/handlebars/handlebars.min.js"></script>

    <script id="nurseryRhymeTemplate" type="text/x-handlebars-template">
        Mary had a little <b>\{{ animal }}</b>, its <b>\{{ bodyPart }}</b>
        was <b>\{{ adjective }}</b> as <b>\{{ noun }}</b>.
    </script>
{{/section}}

{{# section 'jquery' }}
    <script>
    $(document).ready(function() {
        var
            nurseryRhymeTemplate = Handlebars.compile($('#nurseryRhymeTemplate').html())
          , $nurseryRhyme = $('#nurseryRhyme')

        $('#btnNurseryRhyme').on('click', function(e) {
            e.preventDefault()
            $nurseryRhyme.html(nurseryRhymeTemplate(
                  { animal    : 'kitten'
                  , bodyPart  : 'nose'
                  , adjective : 'pink'
                  , noun      : 'lemonade'
                  }
            ))
        })

        $('#btnNurseryRhymeAjax').on('click', function(e) {
            e.preventDefault()
            $.ajax(
                '/data/nursery-rhyme'
            ,   { success : function(data) {
                    $nurseryRhyme.html(nurseryRhymeTemplate(data))
                  }
                }
            )
        })
    })
    </script>
{{/section}}

<div id="nurseryRhyme">Click a button...</div>
<hr>
<button id="btnNurseryRhyme">Generate nursery rhyme</button>
<button id="btnNurseryRhymeAjax">Generate nursery rhyme from AJAX</button>