<form class="form-horizontal" role="form" enctype="multipart/form-data"
      method="POST" action="/contest/cat-photo/{year}/{month}">

    <div class="form-group">
        <label for="fieldName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="fieldName" name="name">
        </div>
    </div>

    <div class="form-group">
        <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            <input type="email" class="form-control" required id="fieldEmail" name="email">
        </div>
    </div>

    <div class="form-group">
        <label for="fieldPhoto" class="col-sm-2 control-label">Cat Photo</label>
        <div class="col-sm-4">
            <input type="file" class="form-control" required
                   accept="image/*" id="fieldPhoto" name="photo">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>

</form>